<%- include("../adminpartials/head", {title: "Admin || Dashboard" }) %>
<div class="content-wrapper">
  <h3 class="page-heading mb-4">Admin Panel</h3>
  <%- include('../flash') %>
  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Generate Identity Cards</h5>
          <form action="/generate/report">
            <div class="row">
              <div class="col-2">
                <select id="reportFormTeam" name="team" class="form-control">
                  <option disabled selected>Team</option>
                  <% for (let team of teams){ %>
                  <option value="<%= team._id %>"><%= team.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-2">
                <select name="division" class="form-control">
                  <option disabled selected>Division</option>
                  <% for (let d of dop){ %>
                  <option value="<%= d %>"><%= d %></option>
                  <% } %>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-primary btn-sm">Generate <i class="fa fa-download"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Generate Complete Team Report</h5>
          <form action="/generate/complete/report">
            <div class="row">
              <div class="col-2">
                <select id="reportFormTeam" name="team" class="form-control">
                  <option disabled selected>Team</option>
                  <% for (let team of teams){ %>
                  <option value="<%= team._id %>"><%= team.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-2">
                <select name="division" class="form-control">
                  <option disabled selected>Division</option>
                  <% for (let d of dop){ %>
                  <option value="<%= d %>"><%= d %></option>
                  <% } %>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-primary btn-sm">Generate <i class="fa fa-download"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-success">
                <i class="fa fa-smile-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <p class="card-text text-dark">Loyal Players</p>
              <h4 class="bold-text">200</h4>
            </div>
          </div>
          <p class="text-muted">
            Loyal Players
          </p>
        </div>
      </div>
    </div> -->
  <!-- <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-warning">
                <i class="fa fa-meh-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <p class="card-text text-dark">FREQUENT Players</p>
              <h4 class="bold-text">600</h4>
            </div>
          </div>
          <p class="text-muted">
            Frequent Players
          </p>
        </div>
      </div>
    </div> -->
  <!-- <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-danger">
                <i class="fa fa-frown-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <p class="card-text text-dark">DISCONNECTED Players</p>
              <h4 class="bold-text">600</h4>
            </div>
          </div>
          <p class="text-muted">
            Disconnected Players
          </p>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</div>
<%- include('../adminpartials/footer') %>
