<%- include("../adminpartials/head", {title: "Admin || Dashboard" }) %>
<div class="content-wrapper">
  <h3 class="page-heading mb-4">Admin Panel</h3>
  <%- include('../flash') %>
  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Generate Identity Cards</h5>
          <form action="/generate/report">
            <div class="row">
              <div class="col-2">
                <select id="reportFormTeam" name="team" class="form-control">
                  <option disabled selected>Team</option>
                  <% for (let team of teams){ %>
                  <option value="<%= team._id %>"><%= team.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-2">
                <select name="division" class="form-control">
                  <option disabled selected>Division</option>
                  <% for (let d of dop){ %>
                  <option value="<%= d %>"><%= d %></option>
                  <% } %>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-primary btn-sm">Generate <i class="fa fa-download"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Generate Complete Team Report</h5>
          <form action="/generate/complete/report">
            <div class="row">
              <div class="col-2">
                <select id="reportFormTeam" name="team" class="form-control">
                  <option disabled selected>Team</option>
                  <% for (let team of teams){ %>
                  <option value="<%= team._id %>"><%= team.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-2">
                <select name="division" class="form-control">
                  <option disabled selected>Division</option>
                  <% for (let d of dop){ %>
                  <option value="<%= d %>"><%= d %></option>
                  <% } %>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-primary btn-sm">Generate <i class="fa fa-download"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Create Players</h5>
          <form action="/upload-csv" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-2">
                <select class="form-control" name="teamId" id="teams" onchange="updateCoaches()">
                  <% for (let team of teams){ %>
                  <option value="<%= team.id %>"><%= team.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-2">
                <select class="form-control" name="coachId" id="coaches"></select>
              </div>
              <div class="col-2">
                <input type="file" required accept=".csv" name="csvFile" />
              </div>
              <button id="submitButton" type="submit" class="btn btn-outline-primary btn-sm">Upload and create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-success">
                <i class="fa fa-smile-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <p class="card-text text-dark">Loyal Players</p>
              <h4 class="bold-text">200</h4>
            </div>
          </div>
          <p class="text-muted">
            Loyal Players
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-warning">
                <i class="fa fa-meh-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <p class="card-text text-dark">FREQUENT Players</p>
              <h4 class="bold-text">600</h4>
            </div>
          </div>
          <p class="text-muted">
            Frequent Players
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-danger">
                <i class="fa fa-frown-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <p class="card-text text-dark">DISCONNECTED Players</p>
              <h4 class="bold-text">600</h4>
            </div>
          </div>
          <p class="text-muted">
            Disconnected Players
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const teams = <%- JSON.stringify(teams) %>;

  function updateCoaches() {
    const selectedTeamId = document.getElementById('teams')
      .value;
    const selectedTeam = teams.find(team => team._id === selectedTeamId);
    const coachesSelect = document.getElementById('coaches');
    coachesSelect.innerHTML = '';
    if (selectedTeam && selectedTeam.coaches.length) {
      selectedTeam.coaches.forEach(coach => {
        var button = document.querySelector("#submitButton");
        button.disabled = false
        const option = document.createElement('option');
        option.value = coach._id;
        option.textContent = coach.fullname;
        coachesSelect.appendChild(option);
      });
    } else {
      const option = document.createElement('option');
      option.value = "none";
      option.textContent = "None";
      coachesSelect.appendChild(option);
      var button = document.querySelector("#submitButton");
      button.disabled = true
    }
  }

  // Initialize coaches select options for the default selected team
  updateCoaches();

</script>
<%- include('../adminpartials/footer') %>
