<%- include('../adminpartials/head', {title: "Admin || Teams"}) %>
<div class="loading-overlay">
  <div class="loading-spinner"></div>
</div>
<div class="content-wrapper">
  <%- include('../flash') %>
  <div class="container-scroller">
    <div class="container-fluid">
      <div class="row">
        <div class="content-wrapper full-page-wrapper auth-pages">
          <div class="card col-lg-7 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Create a team</h3>
              <form action="/admin/teams" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label class="form-text text-muted">
                    Team name
                  </label>
                  <input required type="text" class="form-control p_input" name="name">
                </div>
                <div class="form-group">
                  <div class="panel mx-auto">
                    <div class="button_outer">
                      <div class="btn_upload">
                        <input required accept="audio/mpeg, audio/mp3" type="file" name="audio">
                        Audio <i class="ms-1 fa fa-upload"></i>
                      </div>
                      <div class="processing_bar"></div>
                      <div class="success_box"></div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-6 mx-auto">
                    <div class="panel">
                      <div class="button_outer">
                        <div class="btn_upload">
                          <input required accept=".jpg, .jpeg, .png" type="file" id="upload_file" name="image">
                          Team Logo <i class="ms-1 fa fa-upload"></i>
                        </div>
                        <div class="processing_bar"></div>
                        <div class="success_box"></div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="button_outer">
                        <div class="btn_upload">
                          <input required accept=".jpg, .jpeg, .png" type="file" id="upload_background" name="teamImage">
                          Team Background <i class="ms-1 fa fa-upload"></i>
                        </div>
                        <div class="processing_bar"></div>
                        <div class="success_box"></div>
                      </div>
                    </div>
                    <div class="error_msg"></div>
                    <div class="uploaded_file_view" id="uploaded_view">
                      <span class="file_remove">X</span>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Create</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row p-5 bg-white mt-4">
            <% for (let team of teams){ %>
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="<%= team.image.path %>" width="100%" height="auto" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center mb-4"><%= team.name %></h5>
                  <div class="row">
                    <div style="width: 50%; text-align: center;">
                      <a href="/admin/team/<%= team._id %>/edit" class="btn btn-primary" style="width: 90%;"><i class="fa fa-edit" style="font-size: 20px;"></i></a>
                    </div>
                    <form action="/admin/team/<%= team._id %>/delete?_method=DELETE" method="post" style="width: 50%; text-align: center;">
                      <button type="submit" class="btn btn-danger" style="width: 90%;"><i class="fa fa-trash" style="font-size: 20px;"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../adminpartials/footer') %>
