<%- include('../homepagepartials/head') %>
<title>Homepage</title>
<%- include('../homepagepartials/body')%>
<%- include('../homepagepartials/navbar', {title: "Teams"})%>

<div class="victory-hero-header" style="background-image: url(https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2013/03/frontpage-3.jpg);text-align:left">
  <div class="inside">
    <h1 class="victory-hero-title">Welcome to Mujtaba Theme FC</h1>
    <div class="victory-hero-subtitle">
      <h2 class="victory-hero-subtitle">The website of your local football club</h2>
    </div>
    <div class="victory-hero-buttons">
      <a class="btn button-one" href="#" title="Join our team">
        Join our team </a>
      <a class="btn button-two" href="#" title="Support us">Support us</a>
    </div>
  </div>
</div>
<div id="content" class="site-content">
  <div class="inside">
    <div class="victory-home-widgets">
      <% for (let team of teams){ %>
      <div class="victory-home-widget">
        <aside id="wpcm_standings_widget-5" class="widget victory-home-widget wpcm-widget widget-standings equal">
          <h1 class="widget-title"><%= team.name %> - Coach</h1>
          <div class="wpcm-shortcode-wrapper">
            <div class="wpcm-standings-shortcode wpcm-standings">
              <div class="victory-table-wrap">
                <img src="<%= team.image.path %>" style="height: 100px; width: auto;" />
              </div>
              <a href="/student/register/<%= team._id %>" class="wpcm-view-link">
                Learn More </a>
            </div>
          </div>
        </aside>
      </div>
      <% } %>
    </div>
  </div>

  <%- include('../homepagepartials/footer') %>