<%- include('../homepagepartials/head', {homepage: false, title: team.name}) %>
<%- include('../homepagepartials/homepagenavbar', {title: "Players"})%>
<!-- Body goes in here -->
<% if (team.audio){ %>
<audio id="backgroundAudio" loop muted controls style="display: none;">
  <source src="<%= team.audio.path %>" type="<%= team.audio.contentType %>">
</audio>
<% } %>
<div class="body">
  <div class="heroSectionContainer">
    <div class="heroSection">
      <img class="heroSectionImage" src="<%= team.teamImage.path %>" />
      <div>
        <h1 class="welcomeHeading">Welcome to <%= team.name %></h1>
        <p class="welcomeSubheading">Empowering the next generation of championships</p>
      </div>
    </div>
    <div class="backgroundBanner">
      <div class="textAndButtons">
        <p class="bannerText">Lorem ipsum dolor sit amet consectetur. Tellus orci cum turpis augue elementum. Imperdiet sodales semper ut mattis dolor convallis.</p>
        <div class="buttons">
          <div class="joinourteamButtonWrapper">
            <a href="/student/register/<%= team._id %>" class="joinOurTeamButton">Register as a student</a>
          </div>
          <div class="supportusButtonWrapper">
            <a href="/coach/register" class="supportUsButton">Register as a coach</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ourTeamsSeactionContainer">
    <div class="categoriesAndDopSection">
      <select name="division" id="division">
        <% for (let d of [...dop].reverse()){ %>
        <option selected><%= d %></option>
        <% } %>
      </select>
      <select name="category" id="category">
        <option selected>Football</option>
        <option>Cheer</option>
        <option>Coach</option>
      </select>
    </div>
    <div class="teamsWrapper">
      <!-- student goes in here -->
      <% if (students.length){ %>
      <% for (let student of students){ %>
      <div class="studentCard">
        <div class="studentCardHead">
          <img class="studentImage" src="<%= student.image.path %>" alt="Student Image" />
        </div>
        <div class="studentCardBody">
          <div class="studentDetails">
            <p class="jersey"><%= student.jersey %></p>
            <div class="nameAndRole">
              <p class="name"><%= student.fullname %></p>
              <p class="role"><%= student.role %></p>
            </div>
          </div>
          <div class="dobSection">
            <p class="age">Age <%= student.age %></p>
            <p class="dob"><%= student.dob %></p>
          </div>
        </div>
      </div>
      <% } %>
      <% }else{ %>
      <p class="noDataText">No Student Registered yet.</p>
      <% } %>
    </div>
  </div>
</div>
<script>
  document.addEventListener("click", () => {
    var audio = document.getElementById('backgroundAudio');
    audio.muted = false;
    audio.play()
  })

</script>
<%- include('../homepagepartials/footer') %>
