<%- include('../homepagepartials/head', {homepage: false, title: team.name, favIcon: team.image.path}) %>
<%- include('../homepagepartials/homepagenavbar', {title: "Players"})%>
<!-- Body goes in here -->
<% if (team.audio){ %>
<audio id="backgroundAudio" loop muted controls style="display: none;">
  <source src="<%= team.audio.path %>" type="<%= team.audio.contentType %>">
</audio>
<% } %>
<div class="body">
  <div class="heroSectionContainer">
    <div class="heroSection">
      <img class="heroSectionImage" src="<%= team.teamImage.path %>" />
      <div>
        <h1 class="welcomeHeading">Welcome to <%= team.name %></h1>
        <p class="welcomeSubheading">Empowering the next generation of championships</p>
      </div>
    </div>
    <div class="backgroundBanner">
      <div class="textAndButtons">
        <!-- <p class="bannerText">Lorem ipsum dolor sit amet consectetur. Tellus orci cum turpis augue elementum. Imperdiet sodales semper ut mattis dolor convallis.</p> -->
        <div class="buttons">
          <div class="joinourteamButtonWrapper">
            <a href="/student/register/<%= team._id %>" class="joinOurTeamButton">Register as a player</a>
          </div>
          <div class="supportusButtonWrapper">
            <a href="/coach/register" class="supportUsButton">Support us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ourTeamsSeactionContainer">
    <div class="categoriesAndDopSection">
      <select name="division" id="division"></select>
      <select name="category" id="category">
        <option selected value="football">Football</option>
        <option value="cheer">Cheer</option>
        <option value="coach">Coach</option>
      </select>
    </div>
    <div class="teamsWrapper" id="teamsWrapper">
      <!-- student goes in here -->
    </div>
  </div>
</div>

<!-- Script Files -->
<script>
  document.addEventListener("click", () => {
    var audio = document.getElementById('backgroundAudio');
    audio.muted = false;
    audio.play()
  })

</script>
<script>
  const filters = <%- JSON.stringify(filters) %>;
  const coaches = <%- JSON.stringify(coaches) %>;
  const divisionSelect = document.getElementById('division');
  const categorySelect = document.getElementById('category');
  const teamsWrapper = document.getElementById('teamsWrapper');

  // Populate divisions
  filters.forEach(filter => {
    const option = document.createElement('option');
    option.value = filter.division;
    option.textContent = filter.division;
    divisionSelect.appendChild(option);
  });

  categorySelect.addEventListener('change', handleCategoryChange);
  divisionSelect.addEventListener('change', renderStudents);

  function handleCategoryChange() {
    const category = categorySelect.value;
    if (category === 'coach') {
      renderCoaches();
    } else {
      // renderStudents();
    }
  }

  function renderStudents() {
    const division = divisionSelect.value;
    const category = categorySelect.value;
    const selectedCategory = category === 'football' ? 'footballers' : 'cheerleaders';

    const data = filters.find(f => f.division === division)[selectedCategory];
    teamsWrapper.innerHTML = ''; // Clear existing content

    if (category !== 'coach' && data && data.length) {
      data.forEach(student => {
        const studentCard = `
<div class="studentCard">
    <div class="studentCardHead">
        <img class="studentImage" src="${student.image.path}" alt="Player Image">
    </div>
    <div class="studentCardBody">
        <div class="studentDetails">
            <p class="jersey">${student.jersey}</p>
            <div class="nameAndRole">
                <p class="name">${student.fullname}</p>
                <p class="role">${student.role}</p>
            </div>
        </div>
        <div class="dobSection">
            <p class="age">Age ${student.age}</p>
            <p class="dob">${student.dob}</p>
        </div>
    </div>
</div>`;
        teamsWrapper.innerHTML += studentCard;
      });
    } else {
      teamsWrapper.innerHTML = '<p class="noDataText">No Player Registered yet.</p>';
    }
  }

  function renderCoaches() {
    teamsWrapper.innerHTML = ''; // Clear existing content
    if (coaches && coaches.length) {
      coaches.forEach(coach => {
        const coachCard = `
  <div class="coachCard">
      <div class="studentCardHead">
          <img class="studentImage" src="https://www.kindpng.com/picc/m/252-2524695_dummy-profile-image-jpg-hd-png-download.png" alt="Coach Image">
      </div>
      <div class="studentCardBody">
          <div class="studentDetails">
              <p class="name">Coach</p>
          </div>
          <div class="dobSection">
              <p class="age">${coach.fullname}</p>
          </div>
      </div>
  </div>`;
        teamsWrapper.innerHTML += coachCard;
      });
    } else {
      teamsWrapper.innerHTML = '<p class="noDataText">No Coach Registered yet.</p>';
    }
  }

  // Initial render based on default category selection
  handleCategoryChange();

</script>



<%- include('../homepagepartials/footer', {title: 'Player'}) %>
