<%- include('../homepagepartials/head') %>
<%- include('../homepagepartials/teampagenavbar', {title: "Players"})%>
<div class="victory-hero-header" style="background-image: url(https://demo.wpclubmanager.com/victory/wp-content/uploads/sites/2/2013/03/frontpage-3.jpg);text-align:left">
  <div class="inside">
    <h1 class="victory-hero-title">Welcome to <%= team.name %> club</h1>
    <div class="victory-hero-subtitle">
      <h2 class="victory-hero-subtitle">The website of your local football club</h2>
    </div>
    <div class="victory-hero-buttons">
      <a class="btn button-one" href="/student/register/<%= team._id %>" title="Join our team">
        Join our team </a>
      <a class="btn button-two" href="#" title="Support us">Contact us</a>
    </div>
  </div>
</div>
<div id="content" class="site-content">
  <div class="inside">
    <% for (let d of dop){%>
    <h1 class="widget-title"><%= d %></h1>
    <% for (let student of students){ %>
    <% if (d === student.dop){ %>
    <div class="victory-home-widget width_24">
      <aside id="victory_players-2" class="widget victory-home-widget victory_players_widget equal">
        <h1 class="widget-title"><%= student.role %></h1>
        <div class="victory-player-module-image">
          <img src=" <%=student.image.path %>" sizes="(max-width: 184px) 100vw, 184px">
          <h4><a href="#"><%=student.fullname %></a></h4>
          <span class="victory-player-module-stat">
            <%=student.jersey %>
          </span>
        </div>
        <span class="reports-meta">
          <%= student.dob %>,
          <span class="meta-cats">Age <%= student.age %></span>
        </span>
      </aside>
    </div>
    <% } %>
    <% } %>
    <% } %>
  </div>
</div>
<div id="Coaches" class="site-content">
  <div class="inside">
    <h1 class="widget-title">Coaches</h1>
    <% for (let coach of coaches){ %>
      <div class="victory-home-widget width_24">
        <aside id="victory_players-2" class="widget victory-home-widget victory_players_widget equal">
       
          <div class="victory-player-module-image">
            <img src="/images/person.jpg" sizes="(max-width: 184px) 100vw, 184px">
            <h4><a href="#"><%= coach.fullname %></a></h4>
            
        
          </div>
      
        </aside>
      </div>

   
    <% } %>
  </div>
</div>
<%- include('../homepagepartials/footer') %>
