<%- include('../coachpartials/head') %>
<div class="content-wrapper">
  <%- include('../flash') %>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <i class="fa fa-users float-right icon-grey-big"></i>
          </div>
          <h4 class="card-title font-weight-normal text-success"><%= coach.students.length %></h4>
          <h6 class="card-subtitle mb-4">All Players</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Create Players</h5>
          <form action="/upload-csv" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-2">
                <select class="form-control" name="teamId" id="teams" onchange="updateCoaches()">
                  <% for (let team of teams){ %>
                  <option value="<%= team.id %>"><%= team.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-2">
                <select class="form-control" name="coachId" id="coaches"></select>
              </div>
              <div class="col-2">
                <input type="file" required accept=".csv" name="csvFile" />
              </div>
              <div class="col-2">
                <a href="/download-demo" class="btn btn-success btn-sm">Download Demo File</a>
              </div>
              <button id="submitButton" type="submit" class="btn btn-outline-primary btn-sm">Upload and create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card col-lg-12 px-0 mb-4">
      <div class="card-body">
        <h5 class="card-title">Players</h5>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr class="text-primary">
                <th>Jersey #</th>
                <th>Devision</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Date of Birth</th>
                <th>Decision</th>
              </tr>
            </thead>
            <tbody>
              <% for (let student of footballers){ %>
              <tr class="">
                <td><%= student.jersey %></td>
                <td><%= student.dop %></td>
                <td><%= student.fullname %></td>
                <td><%= student.username %></td>
                <td><%= student.phone %></td>
                <td><%= student.role %></td>
                <td><%= student.dob %></td>
                <td><%= student.status %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card col-lg-12 px-0 mb-4">
      <div class="card-body">
        <h5 class="card-title">Cheer</h5>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr class="text-primary">
                <th>Jersey #</th>
                <th>Devision</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Date of Birth</th>
                <th>Decision</th>
              </tr>
            </thead>
            <tbody>
              <% for (let student of cheerleaders){ %>
              <tr class="">
                <td><%= student.jersey %></td>
                <td><%= student.dop %></td>
                <td><%= student.fullname %></td>
                <td><%= student.username %></td>
                <td><%= student.phone %></td>
                <td><%= student.role %></td>
                <td><%= student.dob %></td>
                <td><%= student.status %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-success">
                <i class="fa fa-smile-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <h4 class="bold-text"><%= approved_students.length %></h4>
            </div>
          </div>
          <p class="text-muted">
            Approved Players
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-warning">
                <i class="fa fa-meh-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <h4 class="bold-text"><%= pending_students.length %></h4>
            </div>
          </div>
          <p class="text-muted">
            Pending Players
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-danger">
                <i class="fa fa-frown-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <h4 class="bold-text"><%= disqualified_students.length %></h4>
            </div>
          </div>
          <p class="text-muted">
            Disqualified Players
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const teams = <%- JSON.stringify(teams) %>;

  function updateCoaches() {
    const selectedTeamId = document.getElementById('teams')
      .value;
    const selectedTeam = teams.find(team => team._id === selectedTeamId);
    const coachesSelect = document.getElementById('coaches');
    coachesSelect.innerHTML = '';
    if (selectedTeam && selectedTeam.coaches.length) {
      selectedTeam.coaches.forEach(coach => {
        var button = document.querySelector("#submitButton");
        button.disabled = false
        const option = document.createElement('option');
        option.value = coach._id;
        option.textContent = coach.fullname;
        coachesSelect.appendChild(option);
      });
    } else {
      const option = document.createElement('option');
      option.value = "none";
      option.textContent = "None";
      coachesSelect.appendChild(option);
      var button = document.querySelector("#submitButton");
      button.disabled = true
    }
  }

  // Initialize coaches select options for the default selected team
  updateCoaches();

</script>

<%- include('../coachpartials/footer') %>
