<%- include('../coachpartials/head') %>
<div class="content-wrapper">
  <%- include('../flash') %>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <i class="fa fa-users float-right icon-grey-big"></i>
          </div>
          <h4 class="card-title font-weight-normal text-success"><%= totalDivisonStudents %></h4>
          <h6 class="card-subtitle mb-4">Players <%= dopNum %></h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card">
        <form action="/generate/complete/report" class="card-body">
          <h6 class="card-subtitle mb-4">Generate Complete Team Report</h6>
          <select name="division" class="form-control">
            <option disabled selected>Division</option>
            <option value="all">All</option>
            <% for (let d of dop){ %>
            <option value="<%= d %>"><%= d %></option>
            <% } %>
          </select>
          <button type="submit" class="btn btn-primary w-100 mt-2">Generate</button>
        </form>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card">
        <form action="/generate/report" class="card-body">
          <h6 class="card-subtitle mb-4">Generate Identity Cards</h6>
          <select name="division" class="form-control">
            <option disabled selected>Division</option>
            <option value="all">All</option>
            <% for (let d of dop){ %>
            <option value="<%= d %>"><%= d %></option>
            <% } %>
          </select>
          <button type="submit" class="btn btn-primary w-100 mt-2">Generate</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card col-lg-12 px-0 mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5 class="card-title m-0">Players</h5>
          <button id="submitButton" type="button" class="btn btn-success text-white">Save</button>
        </div>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr class="text-primary">
                <th>Jersey #</th>
                <th>Devision</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Date of Birth</th>
                <th>Decision</th>
              </tr>
            </thead>
            <tbody>
              <form id="jerseyForm">
                <% for (let student of footballers){ %>
                <tr class="">
                  <td>
                    <div class="form-group">
                      <% if (student.jersey) {%>
                      <input style="width: 100px;" class="form-control jersey-input" type="<%= student.jersey.toLowerCase() === 'x'? 'text': 'number'%>" pattern="[0-9]{3}" name="jersey<%= student._id %>" data-student-id=" <%= student._id %>" value="<%= student.jersey %>" />
                      <% }else{ %>
                      <input style="width: 100px;" class="form-control jersey-input" type="number" pattern="[0-9]{3}" name="jersey<%= student._id %>" data-student-id="<%= student._id %>" />
                      <% } %>
                      <div id="message"></div>
                    </div>
                  </td>
                  <td><%= student.dop %></td>
                  <td><%= student.fullname %></td>
                  <td><%= student.username %></td>
                  <td><%= student.phone %></td>
                  <td><%= student.role %></td>
                  <td><%= student.dob %></td>
                  <td><%= student.status %></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card col-lg-12 px-0 mb-4">
      <div class="card-body">
        <h5 class="card-title">Cheer</h5>
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
              <tr class="text-primary">
                <th>Jersey #</th>
                <th>Devision</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Date of Birth</th>
                <th>Decision</th>
              </tr>
            </thead>
            <tbody>
              <% for (let student of cheerleaders){ %>
              <tr class="">
                <td>
                  <div class="form-group">
                    <% if (student.jersey) {%>
                    <input style="width: 100px;" class="form-control jersey-input" type="<%= student.jersey.toLowerCase() === 'x'? 'text': 'number'%>" pattern="[0-9]{3}" name="jersey<%= student._id %>" data-student-id=" <%= student._id %>" value="<%= student.jersey %>" />
                    <% }else{ %>
                    <input style="width: 100px;" class="form-control jersey-input" type="number" pattern="[0-9]{3}" name="jersey<%= student._id %>" data-student-id="<%= student._id %>" />
                    <% } %>
                    <div id="message"></div>
                  </div>
                </td>
                <td><%= student.dop %></td>
                <td><%= student.fullname %></td>
                <td><%= student.username %></td>
                <td><%= student.phone %></td>
                <td><%= student.role %></td>
                <td><%= student.dob %></td>
                <td><%= student.status %></td>
              </tr>
              <% } %>
              </form>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-success">
                <i class="fa fa-smile-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <h4 class="bold-text"><%= approved_students.length %></h4>
            </div>
          </div>
          <p class="text-muted">
            Approved Players
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-warning">
                <i class="fa fa-meh-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <h4 class="bold-text"><%= pending_students.length %></h4>
            </div>
          </div>
          <p class="text-muted">
            Pending Players
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 mb-4">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right">
              <h4 class="text-danger">
                <i class="fa fa-frown-o highlight-icon" aria-hidden="true"></i>
              </h4>
            </div>
            <div class="float-left">
              <h4 class="bold-text"><%= disqualified_students.length %></h4>
            </div>
          </div>
          <p class="text-muted">
            Disqualified Players
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const jerseyInputs = document.querySelectorAll('.jersey-input');
  jerseyInputs.forEach(input => {
    input.addEventListener('keypress', function(event) {
      const key = event.key;
      if (key.toLowerCase() === 'x') {
        input.type = 'text';
        input.maxLength = 1
      } else {
        input.type = 'number';
      }
    });
  });


  document.addEventListener('DOMContentLoaded', function() {
    const jerseyInputs = document.querySelectorAll('.jersey-input');
    const submitButton = document.querySelector("#submitButton");
    submitButton.disabled = true;

    jerseyInputs.forEach(input => {
      input.addEventListener('change', async function() {
        const jerseyNumber = input.value;
        const teamId = '<%= coach.team._id %>';
        const division = '<%= dopNum %>';
        const messageDiv = input.nextElementSibling;

        if (jerseyNumber) {
          let duplicate = false;
          jerseyInputs.forEach(otherInput => {
            if (otherInput !== input && otherInput.value === jerseyNumber) {
              duplicate = true;
            }
          });

          if (duplicate) {
            input.classList.add('is-invalid');
            input.classList.remove('is-valid');
            messageDiv.innerHTML = '<div class="text-danger">Taken in other field</div>';
          } else {
            const response = await fetch(`/team/${teamId}/division/${division}/jersey/${jerseyNumber}/check`);
            const result = await response.json();

            if (!result.available) {
              input.classList.add('is-invalid');
              input.classList.remove('is-valid');
              messageDiv.innerHTML = '<div class="text-danger">Jersey# taken</div>';
            } else {
              input.classList.add('is-valid');
              input.classList.remove('is-invalid');
              messageDiv.innerHTML = '<div class="text-success">Jersey# available</div>';
            }
          }
        } else {
          input.classList.remove('is-invalid', 'is-valid');
          messageDiv.innerHTML = '';
        }

        const isInvalid = Array.from(jerseyInputs)
          .some(input => input.classList.contains('is-invalid'));
        submitButton.disabled = isInvalid;
      });
    });
  });

</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const submitButton = document.querySelector("#submitButton");
    const jerseyForm = document.querySelector("#jerseyForm");

    submitButton.addEventListener("click", function(event) {
      event.preventDefault();
      const loadingOverlay = document.querySelector('.loading-overlay');
      loadingOverlay.style.display = "flex";
      jerseyForm.dispatchEvent(new Event('submit'));
    });

    jerseyForm.addEventListener("submit", async function(event) {
      event.preventDefault();
      const loadingOverlay = document.querySelector('.loading-overlay');
      const formData = new FormData(jerseyForm);
      const division = '<%= dopNum %>';
      const data = {};

      for (let [key, value] of formData.entries()) {
        if (key.startsWith('jersey')) {
          const studentId = key.replace('jersey', '');
          data[studentId] = value;
        }
      }

      const response = await fetch(`/assign-jerseys`, {
        method: 'POST'
        , headers: {
          'Content-Type': 'application/json'
        }
        , body: JSON.stringify({
          division
          , data
        })
      });
      const result = await response.json();
      if (result.success) {
        const inputFields = document.querySelectorAll('.jersey-input');
        inputFields.forEach((input) => {
          input.classList.remove('is-valid');
        });
        const messageDiv = document.querySelectorAll('#message');
        messageDiv.forEach((div) => {
          div.innerHTML = '';
        })
        loadingOverlay.style.display = 'none';
        submitButton.disabled = true;
      } else {
        loadingOverlay.style.display = 'none';
        alert('An error occurred. Please try again.');
      }
    });
  });

</script>
<%- include('../coachpartials/footer') %>
